$colors: (
  "financial": #f46464,
  "emotional": #eea755,
  "occupational": #53b89a,
  "physical": #008080,
  "intellectual": #38a9c7,
  "social": #445588,
  "spiritual": #d43e8c,
  "environmental": #bd121b,
);

$wheel-grey: #dee2e6;
$button: lightcoral;
$button-text: snow;
