@import "colors.scss";

@each $name, $color in $colors {
  .#{$name} {
    fill: $color;
  }
}
.wheel {
  h1 {
    text-align: center;
  }
  .results-container {
    display: flex;
    svg {
      #big {
        fill: $wheel-grey;
      }
      line {
        stroke: $stroke;
      }
      circle {
        stroke: $stroke;
        fill: transparent;
      }
    }
    .feedback {
      // text-align: center;
      margin: auto;
    }
  }
}
